

.FormMeModule
{
    background-color: beige;
}

.InputNumber
{
    text-align: right;
}

.DrawModule
{
    text-align: center;
    font-size: small;
}

.DrawTiroir
{
    align-content: center ;
    text-align: center;
    font-size: small;
}

.DrawPoignee
{
    position:relative ;
}
.DrawPoigneeRonde
{
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.DrawPoigneeRecangulaire
{
    width: 20px;
    height: 10px;
}